@font-face {
    font-family: machina;
    src: url('NeueMachina-Light.otf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: machina;
}

html,body{
    height: 100%;
    width: 100%;
}

section{
    height: 100%;
    width: 100%;
    position:relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
}
nav h1 i{
    rotate: 45deg;
    display: inline-block;
}
nav h1{
    font-size: 30px;
    display: flex;
    align-items: center;
}
nav h4{
    font-size: 20px;
}

.part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:70px;
}

.part2 button{
    padding: 20px 30px;
    font-size: 20px;
    border: 2px solid #111;
    color:#111;
    border-radius: 20px;
    font-weight: 900;
    background-color: transparent;

}
.centre{
    padding: 80px;
    height: 80%;
    width:100%;
    display: flex;
}

.centre-part1{
    height: 100%;
    width: 45%;
}

.centre-part1 h1{
    font-size: 85px;
    line-height: 1.2;
}

.centre-part1 p{
    font-size: 29px;
    padding-top:30px;
    font-weight: 400;
    padding-bottom: 28px;
}

.centre-part1 button{
    padding: 20px 30px;
    font-size: 20px;
    border: none;
    color:#fff;
    border-radius: 20px;
    font-weight: 900;
    background-color: #111;
}

.centre-part2{
    height: 100%;
    width: 55%;
}

.centre-part2 img{
    height: 70%;
    position: absolute;
    right: 0;
}

.section1-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}

.section1-bottom img{
    height: 60px;
    background: transparent;
}

.section2{
    padding-top: 100px;
}

.section2 .services {
    padding: 40px 120px;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    
}

.services h3{
    background-color: #9ae975;
    font-weight: 550;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 50px;
}

.services p{
    width: 40%;
    line-height: 1.6;
    font-size: 17px;
}

.container{
    height: 80%;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.elem{
    flex-shrink: 0;
    height: 300px;
    width: 45%;
    /* background-color: red; */
    border: 3px solid black;
    border-radius: 30px;
    box-shadow: 0px 10px 0px black;
    padding: 50px;
    display: flex;
}

.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}

.elem-part2{
    height: 100%;
    width: 50%;
}

.elem-part2 img{
    height: 100%;
}

.elem-part1 h2{
    font-size: 28px;
    font-weight: 500;
    background-color: #9ae975;
    padding: 0px 8px;
    border-radius: 6px;
    width: 70%;
}

.elem h4{
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    
}

.elem-part1 h4 i{
    padding: 10px;
    font-size: 35px;
    background-color: #272525;
    color: #fff;
    border-radius: 50%;
    font-weight: 400;
    
}

.black{
    background-color: rgb(12, 11, 11);
    color: #fff;
}
    

.black h2{
    background-color: #fff;
    color: #000;
}

